@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background-color: #ebebeb !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #836fff !important;
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: -10px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fd3a69 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .glowing-text {
    @apply text-cus-yellow;
    text-shadow:
      0 0 5px #f5de19,
      0 0 15px #f5de19,
      0 0 20px #f5de19,
      0 0 40px #f5de19,
      0 0 60px #fd3a69,
      0 0 10px #f5de19,
      0 0 98px #fd3a69;
  }

  .glowing-text-red {
    @apply text-cus-red;
    text-shadow:
      0 0 5px #fd3a69,
      0 0 15px #fd3a69,
      0 0 20px #fd3a69,
      0 0 10px #fd3a69;
  }

  .glowing-text-purple {
    @apply text-cus-red;
    text-shadow:
      0 0 5px #bc6ff1,
      0 0 8px #bc6ff1,
      0 0 10px #bc6ff1;
  }

  .gradient-button {
    position: relative;
  }

  .gradient-button::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 3px;
    background: linear-gradient(45deg, #9d0191, #fd3a69);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .gradient-button-blue {
    position: relative;
  }

  .gradient-button-blue::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 3px;
    background: linear-gradient(45deg, #33a9dc, #bc6ff1, #9d0191);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .glow-input {
    box-shadow: 0 0 10px #836fff;
  }
}
